h1 {
    color:"blue";
    background-color: white;
}
body{
    background-color: aquamarine;
}
button{
    background-color: blueviolet;
    color: white;
}
#main-header{
    color: white;
    background-color: blue;
}
.heading{
    color: beige;
    background-color: white;

}