div{
    height: 100px;
    width: 100px;
    background-color: beige;
    border: 1px solid black;
    color: black;
    margin: 10px;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}